//colors
$black:   #000000;
$white:  #ffffff;

$primary-color: #143A5F;
$secondary-color: #3E91E8;
$third-color: #EA693A;
$body-color: #172B4D;

$gray-100: #989DAD;
$gray-400: #E5E5E5;
$gray-600: #323643;
$gray-200: #6A7382;
$gary-300: #808CA1;
$gray-500: #8898AA;
$gray-700: #F7FAFC;
$gray-800: #E9EFF4;
$success:  #12C4A5;
$danger:   #E32D61;
$third-hover: #e4470e;